

<ion-content [fullscreen]="true">
  <div class="option-container">
    <!--  1  -->
    <div class="option-wrapper" (click)="selectSilder('SLIDER1')">
      slide 1
    </div>
    <!--  2  -->
    <div class="option-wrapper" (click)="selectSilder('SLIDER2')" >
      slide 2
    </div>
    <!--  3  -->
    <div class="option-wrapper" (click)="selectSilder('SLIDER3')">
      slide 3
    </div>
    <!--  4  -->
    <div class="option-wrapper" (click)="selectSilder('SLIDER4')">
      slide 4
    </div>
    <!--  5  -->
    <div class="option-wrapper" (click)="selectSilder('SLIDER5')">
      slide 5
    </div>
    <!--  6  -->
    <div class="option-wrapper" (click)="selectSilder('SLIDER6')">
      slide 6
    </div>

  </div>
  <!--  1-->
  <swiper
    *ngIf="this.sliderName === 'SLIDER1'"
    [grabCursor]="true"
    [effect]="'creative'"
    [creativeEffect]="{
        prev: {
          shadow: true,
          translate: [0, 0, -400]
        },
        next: {
          translate: ['100%', 0, 0]
        }
      }"
    class="mySwiper"
  >
    <ng-template swiperSlide>Slide 1</ng-template
    ><ng-template swiperSlide>Slide 2</ng-template
  ><ng-template swiperSlide>Slide 3</ng-template
  ><ng-template swiperSlide>Slide 4</ng-template
  ><ng-template swiperSlide>Slide 5</ng-template
  ><ng-template swiperSlide>Slide 6</ng-template
  ><ng-template swiperSlide>Slide 7</ng-template
  ><ng-template swiperSlide>Slide 8</ng-template
  ><ng-template swiperSlide>Slide 9</ng-template>
  </swiper>
  <!--  2-->
  <swiper
   *ngIf="this.sliderName === 'SLIDER2'"
    [grabCursor]="true"
    [effect]="'creative'"
    [creativeEffect]="{
        prev: {
          shadow: true,
          translate: ['-120%', 0, -500]
        },
        next: {
          shadow: true,
          translate: ['120%', 0, -500]
        }
      }"
    class="mySwiper2"
  >
    <ng-template swiperSlide>Slide 1</ng-template
    ><ng-template swiperSlide>Slide 2</ng-template
  ><ng-template swiperSlide>Slide 3</ng-template
  ><ng-template swiperSlide>Slide 4</ng-template
  ><ng-template swiperSlide>Slide 5</ng-template
  ><ng-template swiperSlide>Slide 6</ng-template
  ><ng-template swiperSlide>Slide 7</ng-template
  ><ng-template swiperSlide>Slide 8</ng-template
  ><ng-template swiperSlide>Slide 9</ng-template>
  </swiper>
  <!--  3-->
  <swiper
    *ngIf="this.sliderName === 'SLIDER3'"
    [grabCursor]="true"
    [effect]="'creative'"
    [creativeEffect]="{
        prev: {
          shadow: true,
          translate: ['-20%', 0, -1]
        },
        next: {
          translate: ['100%', 0, 0]
        }
      }"
    class="mySwiper3"
  >
    <ng-template swiperSlide>Slide 1</ng-template
    ><ng-template swiperSlide>Slide 2</ng-template
  ><ng-template swiperSlide>Slide 3</ng-template
  ><ng-template swiperSlide>Slide 4</ng-template
  ><ng-template swiperSlide>Slide 5</ng-template
  ><ng-template swiperSlide>Slide 6</ng-template
  ><ng-template swiperSlide>Slide 7</ng-template
  ><ng-template swiperSlide>Slide 8</ng-template
  ><ng-template swiperSlide>Slide 9</ng-template>
  </swiper>
  <!--  4-->
  <swiper
    *ngIf="this.sliderName === 'SLIDER4'"
    [grabCursor]="true"
    [effect]="'creative'"
    [creativeEffect]="{
        prev: {
          shadow: true,
          translate: [0, 0, -800],
          rotate: [180, 0, 0]
        },
        next: {
          shadow: true,
          translate: [0, 0, -800],
          rotate: [-180, 0, 0]
        }
      }"
    class="mySwiper4"
  >
    <ng-template swiperSlide>Slide 1</ng-template
    ><ng-template swiperSlide>Slide 2</ng-template
  ><ng-template swiperSlide>Slide 3</ng-template
  ><ng-template swiperSlide>Slide 4</ng-template
  ><ng-template swiperSlide>Slide 5</ng-template
  ><ng-template swiperSlide>Slide 6</ng-template
  ><ng-template swiperSlide>Slide 7</ng-template
  ><ng-template swiperSlide>Slide 8</ng-template
  ><ng-template swiperSlide>Slide 9</ng-template>
  </swiper>
  <!--  5-->
  <swiper
    *ngIf="this.sliderName === 'SLIDER5'"
    [grabCursor]="true"
    [effect]="'creative'"
    [creativeEffect]="{
        prev: {
          shadow: true,
          translate: ['-125%', 0, -800],
          rotate: [0, 0, -90]
        },
        next: {
          shadow: true,
          translate: ['125%', 0, -800],
          rotate: [0, 0, 90]
        }
      }"
    class="mySwiper5"
  >
    <ng-template swiperSlide>Slide 1</ng-template
    ><ng-template swiperSlide>Slide 2</ng-template
  ><ng-template swiperSlide>Slide 3</ng-template
  ><ng-template swiperSlide>Slide 4</ng-template
  ><ng-template swiperSlide>Slide 5</ng-template
  ><ng-template swiperSlide>Slide 6</ng-template
  ><ng-template swiperSlide>Slide 7</ng-template
  ><ng-template swiperSlide>Slide 8</ng-template
  ><ng-template swiperSlide>Slide 9</ng-template>
  </swiper>
  <!--  6-->
  <swiper
    *ngIf="this.sliderName === 'SLIDER6'"
    [grabCursor]="true"
    [effect]="'creative'"
    [creativeEffect]="{
        prev: {
          shadow: true,
          origin: 'left center',
          translate: ['-5%', 0, -200],
          rotate: [0, 100, 0]
        },
        next: {
          origin: 'right center',
          translate: ['5%', 0, -200],
          rotate: [0, -100, 0]
        }
      }"
    class="mySwiper6"
  >
    <ng-template swiperSlide>Slide 1</ng-template
    ><ng-template swiperSlide>Slide 2</ng-template
  ><ng-template swiperSlide>Slide 3</ng-template
  ><ng-template swiperSlide>Slide 4</ng-template
  ><ng-template swiperSlide>Slide 5</ng-template
  ><ng-template swiperSlide>Slide 6</ng-template
  ><ng-template swiperSlide>Slide 7</ng-template
  ><ng-template swiperSlide>Slide 8</ng-template
  ><ng-template swiperSlide>Slide 9</ng-template>
  </swiper>

</ion-content>
