

<ion-content [fullscreen]="true">

  <swiper
    [effect]="'cube'"
    [grabCursor]="true"
    [cubeEffect]="{
      shadow: true,
      slideShadows: true,
      shadowOffset: 20,
      shadowScale: 0.94
    }"
    [pagination]="true"
    class="mySwiper"
  >
    <ng-template swiperSlide *ngFor="let post of postObject">
      <div class="block" >
        <div class="top">
          <div class="profile-container">
            <div class="profile-left">
              <div class="back">
                <ion-icon name="arrow-round-back"></ion-icon>
              </div>
              <div class="profile-wrapper">
                <div class="image-wrapper">
                  <img src="../../assets/images/post16.jpeg"></div>
                <div class="profile-text-wrapper">
                  <div class="text">Creator
                      <div class="text bold">
                        KidEight
                      </div>
                    </div>
                  <div class="follow">.Follow</div>
                  </div>
              </div>
            </div>
            <div class="profile-right">
              <ion-icon name="more"></ion-icon>
            </div>
          </div>
          <div class="image-wrapper">
            <img [src]="post.imageUrl">
          </div>
        </div>
        <div class="bottom">
          <div class="btn-wrapper">
            <ion-button class="like-btn">Like 34</ion-button>
            <ion-button class="collect-btn"> Collect</ion-button>
            <ion-button  class="share-btn"> Share</ion-button>
          </div>
          <div class="description-container">
            <div class="title">
              The Creation of EVOL
            </div>
            <div class="description-text">
              The Creation of our anti-hero, a true renaissance man.

              A moment of discovery - our narrative and character has been given life.
            </div>
          </div>
          <div class="filter-container">
          <div class="block">Comments</div>
            <div class="block">Editions</div>
            <div class="block">Metadata</div>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</ion-content>
